@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer base {
	:root {
		--background: 223.81 0.00% 98.68%;
		--foreground: 0 0% 0%;
		--card: 223.81 -172.52% 100.00%;
		--card-foreground: 0 0% 0%;
		--popover: 223.81 0.00% 98.68%;
		--popover-foreground: 0 0% 0%;
		--primary: 0 0% 0%;
		--primary-foreground: 223.81 -172.52% 100.00%;
		--secondary: 223.81 0.00% 92.15%;
		--secondary-foreground: 0 0% 0%;
		--muted: 223.81 0.00% 96.06%;
		--muted-foreground: 223.81 0.00% 32.31%;
		--accent: 223.81 0.00% 92.15%;
		--accent-foreground: 0 0% 0%;
		--destructive: 358.43 74.91% 59.75%;
		--destructive-foreground: 223.81 -172.52% 100.00%;
		--border: 223.81 0.00% 89.56%;
		--input: 223.81 0.00% 92.15%;
		--ring: 0 0% 0%;
		--chart-1: 40.67 100.24% 50.92%;
		--chart-2: 223.75 85.99% 55.81%;
		--chart-3: 223.81 0.00% 64.47%;
		--chart-4: 223.81 0.00% 89.56%;
		--chart-5: 223.81 0.00% 45.61%;
		--sidebar: 223.81 0.00% 98.68%;
		--sidebar-foreground: 0 0% 0%;
		--sidebar-primary: 0 0% 0%;
		--sidebar-primary-foreground: 223.81 -172.52% 100.00%;
		--sidebar-accent: 223.81 0.00% 92.15%;
		--sidebar-accent-foreground: 0 0% 0%;
		--sidebar-border: 223.81 0.00% 92.15%;
		--sidebar-ring: 0 0% 0%;
		--font-sans: Geist, sans-serif;
		--font-serif: Georgia, serif;
		--font-mono: Geist Mono, monospace;
		--radius: 0.5rem;
		--shadow-2xs: 0px 1px 2px 0px hsl(0 0% 0% / 0.09);
		--shadow-xs: 0px 1px 2px 0px hsl(0 0% 0% / 0.09);
		--shadow-sm: 0px 1px 2px 0px hsl(0 0% 0% / 0.18), 0px 1px 2px -1px hsl(0 0% 0% / 0.18);
		--shadow: 0px 1px 2px 0px hsl(0 0% 0% / 0.18), 0px 1px 2px -1px hsl(0 0% 0% / 0.18);
		--shadow-md: 0px 1px 2px 0px hsl(0 0% 0% / 0.18), 0px 2px 4px -1px hsl(0 0% 0% / 0.18);
		--shadow-lg: 0px 1px 2px 0px hsl(0 0% 0% / 0.18), 0px 4px 6px -1px hsl(0 0% 0% / 0.18);
		--shadow-xl: 0px 1px 2px 0px hsl(0 0% 0% / 0.18), 0px 8px 10px -1px hsl(0 0% 0% / 0.18);
		--shadow-2xl: 0px 1px 2px 0px hsl(0 0% 0% / 0.45);
	}

	.dark {
		--background: 0 0% 0%;
		--foreground: 223.81 -172.52% 100.00%;
		--card: 223.81 0.00% 3.55%;
		--card-foreground: 223.81 -172.52% 100.00%;
		--popover: 223.81 0.00% 6.87%;
		--popover-foreground: 223.81 -172.52% 100.00%;
		--primary: 223.81 -172.52% 100.00%;
		--primary-foreground: 0 0% 0%;
		--secondary: 223.81 0.00% 13.15%;
		--secondary-foreground: 223.81 -172.52% 100.00%;
		--muted: 223.81 0.00% 11.30%;
		--muted-foreground: 223.81 0.00% 64.47%;
		--accent: 223.81 0.00% 19.89%;
		--accent-foreground: 223.81 -172.52% 100.00%;
		--destructive: 359.91 100.25% 67.88%;
		--destructive-foreground: 0 0% 0%;
		--border: 223.81 0.00% 14.09%;
		--input: 223.81 0.00% 19.89%;
		--ring: 223.81 0.00% 64.47%;
		--chart-1: 40.67 100.24% 50.92%;
		--chart-2: 218.16 90.04% 55.16%;
		--chart-3: 223.81 0.00% 45.61%;
		--chart-4: 223.81 0.00% 32.31%;
		--chart-5: 223.81 0.00% 89.56%;
		--sidebar: 223.81 0.00% 6.87%;
		--sidebar-foreground: 223.81 -172.52% 100.00%;
		--sidebar-primary: 223.81 -172.52% 100.00%;
		--sidebar-primary-foreground: 0 0% 0%;
		--sidebar-accent: 223.81 0.00% 19.89%;
		--sidebar-accent-foreground: 223.81 -172.52% 100.00%;
		--sidebar-border: 223.81 0.00% 19.89%;
		--sidebar-ring: 223.81 0.00% 64.47%;
		--font-sans: Geist, sans-serif;
		--font-serif: Georgia, serif;
		--font-mono: Geist Mono, monospace;
		--radius: 0.5rem;
		--shadow-2xs: 0px 1px 2px 0px hsl(0 0% 0% / 0.09);
		--shadow-xs: 0px 1px 2px 0px hsl(0 0% 0% / 0.09);
		--shadow-sm: 0px 1px 2px 0px hsl(0 0% 0% / 0.18), 0px 1px 2px -1px hsl(0 0% 0% / 0.18);
		--shadow: 0px 1px 2px 0px hsl(0 0% 0% / 0.18), 0px 1px 2px -1px hsl(0 0% 0% / 0.18);
		--shadow-md: 0px 1px 2px 0px hsl(0 0% 0% / 0.18), 0px 2px 4px -1px hsl(0 0% 0% / 0.18);
		--shadow-lg: 0px 1px 2px 0px hsl(0 0% 0% / 0.18), 0px 4px 6px -1px hsl(0 0% 0% / 0.18);
		--shadow-xl: 0px 1px 2px 0px hsl(0 0% 0% / 0.18), 0px 8px 10px -1px hsl(0 0% 0% / 0.18);
		--shadow-2xl: 0px 1px 2px 0px hsl(0 0% 0% / 0.45);
		}
}

@layer base {
  * {
    @apply border-border;
  }
  
  body {
    @apply bg-background text-foreground;
  }
}