@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer base {
	:root {
		--background: 196.36 52.38% 8.24%;
		--foreground: 180 77.11% 60.59%;
		--card: 192 51.02% 9.61%;
		--card-foreground: 180 77.11% 60.59%;
		--popover: 192 51.02% 9.61%;
		--popover-foreground: 180 77.11% 60.59%;
		--primary: 180 77.11% 60.59%;
		--primary-foreground: 196.36 52.38% 8.24%;
		--secondary: 191.43 58.88% 20.98%;
		--secondary-foreground: 180 77.11% 60.59%;
		--muted: 192.86 58.33% 14.12%;
		--muted-foreground: 180 50.68% 42.94%;
		--accent: 191.43 58.88% 20.98%;
		--accent-foreground: 180 77.11% 60.59%;
		--destructive: 0 78.90% 57.25%;
		--destructive-foreground: 0 0% 94.90%;
		--border: 191.43 58.88% 20.98%;
		--input: 191.43 58.88% 20.98%;
		--ring: 180 77.11% 60.59%;
		--chart-1: 180 77.11% 60.59%;
		--chart-2: 180 50.68% 42.94%;
		--chart-3: 180 50.82% 35.88%;
		--chart-4: 184.35 57.98% 23.33%;
		--chart-5: 185.22 62.16% 14.51%;
		--sidebar: 196.36 52.38% 8.24%;
		--sidebar-foreground: 180 77.11% 60.59%;
		--sidebar-primary: 180 77.11% 60.59%;
		--sidebar-primary-foreground: 196.36 52.38% 8.24%;
		--sidebar-accent: 191.43 58.88% 20.98%;
		--sidebar-accent-foreground: 180 77.11% 60.59%;
		--sidebar-border: 191.43 58.88% 20.98%;
		--sidebar-ring: 180 77.11% 60.59%;
		--font-sans: Geist Mono, monospace;
		--font-serif: Geist Mono, monospace;
		--font-mono: Geist Mono, monospace;
		--radius: 0rem;
		--shadow-2xs: 1px 1px 2px 0px hsl(180 70% 60% / 0.10);
		--shadow-xs: 1px 1px 2px 0px hsl(180 70% 60% / 0.10);
		--shadow-sm: 1px 1px 2px 0px hsl(180 70% 60% / 0.20), 1px 1px 2px -1px hsl(180 70% 60% / 0.20);
		--shadow: 1px 1px 2px 0px hsl(180 70% 60% / 0.20), 1px 1px 2px -1px hsl(180 70% 60% / 0.20);
		--shadow-md: 1px 1px 2px 0px hsl(180 70% 60% / 0.20), 1px 2px 4px -1px hsl(180 70% 60% / 0.20);
		--shadow-lg: 1px 1px 2px 0px hsl(180 70% 60% / 0.20), 1px 4px 6px -1px hsl(180 70% 60% / 0.20);
		--shadow-xl: 1px 1px 2px 0px hsl(180 70% 60% / 0.20), 1px 8px 10px -1px hsl(180 70% 60% / 0.20);
		--shadow-2xl: 1px 1px 2px 0px hsl(180 70% 60% / 0.50);
	}
}

@layer base {
  * {
    @apply border-border;
  }
  
  body {
    @apply bg-background text-foreground;
  }
}